---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    &copy; <a
      href='https://angelnext.dev/'
      target='_blank'
      class='text-blue'>AngelNext</a
    > {new Date().getFullYear()}
  </p>
</footer>
